@import '_vars';
@import 'modules/_main';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/mediaqueries';


#app {
    background-color: $sky-blue;
}

body {

    color:black;
    background-color:$sky-blue;
    font-family: $reg-font;
    background: none;

    h2 {

        font-family: $reg-font;

    }
}

.hidden {

    display: none;
}
