@import '_vars';
@import 'modules/_main';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/mediaqueries';
@import 'modules/_nav';

#app {
    background-color: $white;
}

body {

    color:black; 
    background-color:white;
    font-family: $reg-font;
    background: none;

    h2 {

        font-family: $reg-font;

    }
}

.hidden {

    display: none;
}