.user-message { margin: 0.25em 0 1em; }

.card {
    cursor: pointer;
    color: $green-yellow;
    background-color:$roku-purple;
margin-bottom:1em;
font-size:2em;

  .card-body p { margin: 10px 0 0; }
}

.profiles{
  background-color: $roku-purple;
  width:100%;
}
