.fs-video { width: 100% }


// top left media details
.media-title {
    font-size: 2.5em;
    padding-top: 1em;
    font-weight: bolder;
    width:100%;
    color:$tomato-orange;
}
.media-bg{
  background-color:$sky-blue;
  width:100%;
}

.media-details { font-size: 1.2em; padding: 0.5em 0; }

.media-year, .media-time { font-size: 1em; }
.media-year { display: block; float: right; }

.side-nav { background: darken($dark-bg, 9%) }

.cat-heading{
  font-size:3em;
  margin-left:15%;
  cursor: pointer;
}

.media-title{
  text-align:center;
  font-size:3em;

}
// genre filter links

.media-genres {
    list-style-type: none;
    background: $medium-blue;
    margin: 0;
    padding: 1em 1em 1em 1.5em;

    li {
        display: inline-block;

        a {
            font-size: 1rem;
            color: $pink;
            text-decoration: none;
        }

        a:hover { color: $roku-purple; }
    }

    li::after {
        content: "|||||";
        padding: 0 1em 0 1em;
        color: $turquoise;
    }

    li:last-of-type::after {
        content: none;
    }
}

// media thumbnails
.media-info {
    padding-left: 0;
    padding-right: 0;

    > div { padding: 0 10px; }
}

.media-thumb {
    height: 15%;
    width:15%;
    margin: 1em;
}

.audio-thumb { height: 150px; }

.audio-wrapper {
    background: $dark-bg;

    img { max-width: 85%; display: block; margin: 0 auto; padding: 4% }

}

audio {
    width: 70%;
    margin: 0 13%;
    position: absolute;
    bottom: 12%;
    opacity: 0.8;
}
